* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #817fff;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.details {
    width: 40rem;
    height: 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.input {
    height: 30px;
    text-align: center;
}

.click {
    height: 30px;
}
