* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(3, 19, 37);
}

.button-models {
    width: 100%;
}

.model-view {
    width: 15%;
    height: 4rem;
    border-radius: 2rem;
    margin: 10px;
    color: rgb(25, 97, 97);
    font-weight: bold;
    box-shadow: 1rem 0 2rem rgba(41, 80, 104, 0.7);
    border: 1px solid  gray !important;
    letter-spacing: 0.1rem;
}

.model-view:hover {
    font-size: 15px;
    color: rgb(17, 126, 216);
    border: 1px rgb(16, 100, 168);
    box-shadow: 1rem 1rem 4rem rgba(41, 80, 104, 0.7);
}

.hidden {
    display: none;
}